<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce Lightweight Rails App</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true  %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
	<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html14.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <%= render partial: 'layouts/nav' %>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true  %>
  </body>
</html>
