<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce Me</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true  %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
	<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html14.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <%= render partial: 'layouts/nav' %>
    <%= render partial: 'layouts/login' %>
    <script>
      window.fbAsyncInit = function() {
      FB.init({
      appId      : '1482607398668082',
      xfbml      : true,
      version    : 'v2.1'
      });
      };

      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true  %>

  </body>
</html>
